@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body{
    font-family:'Kumbh Sans', sans-serif;
}

.fundo {
    background: hsl(185, 75%, 39%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 5px solid black;
}

.fundo .fundo-cartao {
    display: flex;
    background-color: white;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    border-radius: 10px;
    padding: 30px 0;
    width: 320px;
    height: 320px;
}

.fundo .fundo-cartao .dados{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid hsl(227, 10%, 46%);
}

.fundo .fundo-cartao .dados .imagem{
    max-width: 100px;
    border-radius: 50%;
}

.fundo .fundo-cartao .dados .nome{
    font-weight: 700;
    font-size: 19px;
    padding-top: 20px;
}

.fundo .fundo-cartao .dados .idade {
    color: hsl(227, 10%, 46%);
}

.fundo .fundo-cartao .dados .cidade{
    font-weight: 700;
    color: hsl(227, 10%, 46%);
    padding: 20px;
}

.fundo .fundo-cartao .infos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    /* border: 3px solid red; */
}

.fundo .fundo-cartao .infos .status{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fundo .fundo-cartao .infos .status .quantidade {
    font-weight: 700;
}

.fundo .fundo-cartao .infos .status .titulo-quantidade {
    font-weight: 700;
    color: hsl(227, 10%, 46%);
}